<ng-container *ngIf="(trainingDay | async) as day">
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>
        {{ day.name }}
        <button mat-mini-fab>
          <mat-icon aria-label="Add Work" (click)="openAddWorkDialog(day.id, day.works.length)"> add </mat-icon>
        </button>
        <button mat-mini-fab><mat-icon>edit</mat-icon></button>
        <ng-container *ngIf="(day.works | async) as works">
          <button mat-mini-fab>
            <mat-icon aria-label="Sort Works" (click)="openSortWorkDialog(works)"> reorder </mat-icon>
          </button>
        </ng-container>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="(day.works | async) as works">
        <ng-container *ngFor="let work of works">
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-100 mr-3">
              <div class="d-flex w-100">
                <h6 class="h6">{{ work.name }}</h6>
                <small class="ml-3">{{ work.restTime }}</small>
              </div>
              <div class="row">
                <div class="col">
                  <span>{{ work.repsDisplay }}</span>
                </div>
                <div class="col">
                  <span>{{ work.sets }}</span>
                </div>
                <ng-container *ngIf="(work.load | async) as load">
                  <div class="col-auto">
                    <b> {{ load.loadDisplay }} </b> <b> @ {{ load.resultRpe }} - {{ load.resultLoad }} </b>
                  </div>
                </ng-container>
              </div>
            </div>

            <ng-container *ngIf="(work.load | async) as load">
              <button mat-mini-fab>
                <mat-icon aria-label="Training Result" (click)="openWorkResultDialog(work, load)"> favorite </mat-icon>
              </button>
              <button mat-mini-fab><mat-icon (click)="openEditWorkDialog(work, load)">edit</mat-icon></button>
              <button mat-mini-fab><mat-icon (click)="removeWork(work.id)">delete</mat-icon></button>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </mat-card-content>
    <mat-card-actions> <button mat-button>LIKE</button> <button mat-button>SHARE</button> </mat-card-actions>
  </mat-card>
</ng-container>
