<div id="input">
    <!-- <div class="row">
        <div class="col">
            <div class="card my-1">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-12 col-md-4">
                            <div class="md-form form-sm">
                                <input mdbActive type="number" class="form-control" [(ngModel)]="input.weight">
                                <label>Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="md-form form-sm">
                                <input mdbActive type="number" [(ngModel)]="input.reps" class="form-control">
                                <label>Body Weight</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="md-form form-sm">
                                <input mdbActive type="number" [(ngModel)]="input.rpe" class="form-control">
                                <label for="form1" class="">Gender</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card my-1">
                <div class="card-body">
                    <app-lift-input lift="Squat"></app-lift-input>
                    <app-lift-input lift="Bench"></app-lift-input>
                    <app-lift-input lift="Deadlift"></app-lift-input>
                    <a href="#" class="btn btn-sm btn-primary default-color" mdbRippleRadius>Save</a>
                </div>
            </div>
        </div>
    </div>
</div>