<ng-container *ngIf="trainingWorks | async as works">
    <tr mdbTableCol *ngFor="let work of works">
        <th scope="row">{{ work.name }}</th>
        <td>{{ work.restTime }}</td>
        <td>{{ work.reps }}</td>
        <td>{{ work.sets }}</td>
        <td>{{ work.weight }}</td>
        <td>
            <app-training-work-load [trainingWorkId]="work.id"></app-training-work-load>
        </td>
        <!-- <td>
            <button mat-icon-button (click)="calcWeight(work)">
                <mat-icon>play_arrow</mat-icon>
            </button>
        </td> -->
    </tr>

</ng-container>