<div id="training" class="container-fluid py-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card my-1">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="md-form">
                                <input mdbActive type="text" class="form-control">
                                <label for="form1" class="">Workout Name</label>
                            </div>
                            <button class="float-right indigo" mat-mini-fab>
                                <mat-icon aria-label="Add Exercise" (click)="addLift()">add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row" *ngFor="let input of inputs">
                        <div class="col-3">
                            <select class="custom-select">
                                <option selected>Exercise</option>
                                <option value="1">Squat</option>
                                <option value="2">Bench</option>
                                <option value="3">Deadlift</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <div class="md-form form-sm">
                                <input mdbActive type="number" [(ngModel)]="input.reps" class="form-control" (keyup)="calcEstimate()">
                                <label>Reps</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <h6> {{ input.estimate }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>