<div id="training" class="container-fluid py-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card my-1">
                <div class="card-header default-color">
                    <div class="row">
                        <div class="col-11">
                            <div class="md-form">
                                <input mdbActive type="text" class="form-control white-text" [(ngModel)]="workoutName">
                                <label class="white-text">Workout Name</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="indigo float-right" mat-mini-fab>
                                <mat-icon aria-label="Add Exercise" (click)="addLift()">add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ng-container *ngFor="let input of inputs; let i = index">
                        <app-exercise [input]="input" (remove)="removeLift(i)"></app-exercise>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>