<div id="home" class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1 class="default-text">Strength Share</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Inputs</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Squat</h5>
      <div class="row">
        <div class="col">
          <div class="md-form">
            <input mdbActive type="text" id="squat-weight" class="form-control">
            <label for="form1" class="">Weight</label>
          </div>
        </div>
        <div class="col">
          <div class="md-form">
            <input mdbActive type="text" id="squat-reps" class="form-control">
            <label for="form1" class="">Reps</label>
          </div>
        </div>
        <div class="col">
          <div class="md-form">
            <input mdbActive type="text" id="squat-rpe" class="form-control">
            <label for="form1" class="">RPE</label>
          </div>
        </div>
        <div class="col">
          <div class="md-form">
            <input mdbActive type="text" id="squat-max" class="form-control" value="123" disabled>
            <label for="form1" class="">Extimated Max</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Bench</h3>
      <div class="row">
        <div class="col-2">
          <div class="md-form">
            <input mdbActive type="text" id="bench-weight" class="form-control">
            <label for="form1" class="">Weight</label>
          </div>
        </div>
        <div class="col-1">
          <div class="md-form">
            <input mdbActive type="text" id="bench-reps" class="form-control">
            <label for="form1" class="">Reps</label>
          </div>
        </div>
        <div class="col-1">
          <div class="md-form">
            <input mdbActive type="text" id="bench-rpe" class="form-control">
            <label for="form1" class="">RPE</label>
          </div>
        </div>
        <div class="col-2">
          <div class="md-form">
            <input mdbActive type="text" id="bench-max" class="form-control">
            <label for="form1" class="">Extimated Max</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Bench</h3>
      <div class="row">
        <div class="col-2">
          <div class="md-form">
            <input mdbActive type="text" id="bench-weight" class="form-control">
            <label for="form1" class="">Weight</label>
          </div>
        </div>
        <div class="col-1">
          <div class="md-form">
            <input mdbActive type="text" id="bench-reps" class="form-control">
            <label for="form1" class="">Reps</label>
          </div>
        </div>
        <div class="col-1">
          <div class="md-form">
            <input mdbActive type="text" id="bench-rpe" class="form-control">
            <label for="form1" class="">RPE</label>
          </div>
        </div>
        <div class="col-2">
          <div class="md-form">
            <input mdbActive type="text" id="bench-max" class="form-control">
            <label for="form1" class="">Extimated Max</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
